
@model _2ScullTattooShop.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
}
<div id="all">

    <div id="content">
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="sorry-background" class="box info-bar main-boxshadow text-center" data-animate="fadeInUpBig">
                    <h2>Delete the category</h2>
                    <hr />
                    <h3 style="color:red;">Are you sure you want to delete <span style="color:white;">@Model.Name</span> category?</h3>
                    <div>
                        
                        <hr />
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete the category" class="btn btn-danger" />
                            <a asp-action="List" class="btn btn-primary">Back to List</a>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>


