
<h2>Administrative options</h2>


<div id="all">

    <div id="content">
        <div class="container">
            <div class="row products">

                <div id="advantages">

                    <div class="container">
                        <div class="same-height-row">
                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Users">Users options</a>
                                    </h3>
                                    <p>add, delete, edit, inspect users</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-th-list"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Products">Products options</a>
                                    </h3>
                                    <p>operations with products in dastabase</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Brands">Brands options</a>
                                    </h3>
                                    <p>option to edit the brands for products</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-qrcode"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Categories">Categories options</a>
                                    </h3>
                                    <p>all products must have categories</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Tattoos">Tattoos options</a>
                                    </h3>
                                    <p>add if there are new tattoos</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Styles">Styles options</a>
                                    </h3>
                                    <p>CRUD for styles of tattoos</p>
                                </div>
                            </div>

                            <div class="col-sm-4"></div>

                            <div class="col-sm-4 text-center">
                                <div class="box same-height clickable main-boxshadow">
                                    <div class="icon">
                                        <i class="fa fa-align-center"></i>
                                    </div>
                                    <h3>
                                        <a asp-action="List" asp-controller="Authors">Authors options</a>
                                    </h3>
                                    <p>add new cool or delete tattoo master </p>
                                </div>
                            </div>

                            <div class="col-sm-4"></div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

