
@{
    ViewData["Title"] = "FAQ";
}

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-3">
                <div id="sorry-background" class="box info-bar main-boxshadow text-center" data-animate="fadeInUpBig">

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Tattoos questions</h3>
                        </div>
                        <div class="product" style="margin:0;">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a><img src="~/images/Tattoos/images (12).jpg" alt="" class="img-responsive center-block"></a>
                                    </div>
                                    <div class="back">
                                        <a><img src="~/images/Tattoos/images (12).jpg" alt="" class="img-responsive center-block"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="invisible"><img src="~/images/Tattoos/images (12).jpg" alt="" class="img-responsive center-block"></a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-9">


                    <div class="box white" id="contact">
                        <h1>Frequently asked questions</h1>

                        <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                        <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                        <hr>

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq1">

                                            1. What to do if I have still not received the order?

                                        </a>

                                    </h4>
                                </div>
                                <div id="faq1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Please contact us as soon as posible using one of the ways shown below
                                        </p>
                                        <ul>
                                            <li>Write us on our contact page</li>
                                            <li>Call any phone number shown on the page</li>
                                            <li>Use mail to write a letter</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

                                            2. Does it really painfull?

                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Yes it is painfull
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                            3. Will it disappear soon?

                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        No,it will be buried with you
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

