body {
    background-image: url("../images/back.jpg") !important;
    background-repeat: repeat !important;
}

#upload_button {
    display: inline-block;
}

#upload_button input[type=file] {
    display: none;
}

#logoutForm ul li :hover {
    background-color: #4fbfa8 !important;
    border-radius:5px;
    color:white;
}

#showing{
    background-color:black;
    color:white;
}

#mapBtn{
    font-size:30px!important;
}

#canvas {
    height: 600px;
}

.btn-link {
    color: white !important;
    font-weight: 600 !important;
}

#logIn-custom ul li :hover {
    background-color: #4fbfa8 !important;
    border-radius: 5px;
    color: white!important;
}

.front {
    text-align: center !important;
    margin: auto !important;
}

#navigation-bar ul li{
    padding-left:30px;
}

.main-boxshadow {
    border-radius:5px;
    padding-top: 10px !important;
    -webkit-box-shadow: 9px 9px 8px 1px rgba(196,184,196,0.8) !important;
    -moz-box-shadow: 9px 9px 8px 1px rgba(196,184,196,0.8) !important;
    box-shadow: 9px 9px 8px 1px rgba(196,184,196,0.8) !important;
}

#mainImage {
    padding-bottom: 10px !important;
    background-color: white !important;
}

#sorry-background {
    background-image: url("../images/Sculls/scull_wings.jpg") !important;
    background-repeat:no-repeat;
    height: auto;
    color: whitesmoke;
    background-color:black;
    text-align:center;
    background-position-x:center;
    padding-top:170px!important;
    border-radius:5px;
}

#sorry-background h1 {
    font-size:42px;
}

#footer{
    margin-top:30px!important;
}


.chat {
    width: 40%;
    min-width: 250px;
    height: 70%;
    position: fixed;
    top: 25%;
    bottom: 0;
    margin: 0;
    right: 1%;
    padding: 15px 20px;
    -webkit-transition: left 1.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background-color: rgba(100,100,100, 0.6);
    z-index: 2000;
    border-radius:10px;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90%;
}

/* The popup chat - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    padding: 10px;
    background-color: white;
}

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 100px;
    }

        /* When the textarea gets focus, do something */
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

